@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Mochiy+Pop+P+One&family=Zen+Kurenaido&display=swap');

body{

    font-family: 'Mochiy Pop P One', sans-serif;

    text-align: center;

    color: white;

}

div{

    background-color: rgb(97, 97, 252);
    margin: 100px;
    border-radius: 30px;

}

h1{

    color: ;

}